**/.observablehq/cache/
.DS_Store
.env
/coverage/
/dist/
/docs/.observablehq/dist/
/docs/theme/*.md
/docs/themes.md
/test/build/
/test/output/**/*-changed.*
/test/output/build/**/*-changed/
node_modules/
yarn-error.log
