# {{projectTitle}}

Welcome! This is the **home page** of your new [Observable CLI](https://cli.observablehq.com) project. This is the default page users will see when they visit your project. If you just want one page in your project, this is it.

## Edit me!

Edit `docs/index.md` to change the contents of this page. As you save changes, the preview server will immediately update the live preview in your browser.

Two [example pages](#included-examples) included in this template. You can edit (and rename) these files to get started. Or add a new page by creating a new Markdown file in `docs`. To add your new page to the sidebar, edit the project config file, `observablehq.config.ts`.

## Included examples

The [example dashboard](./example-dashboard) (`docs/example-dashboard.md`) uses a grid layout suitable for a dashboard, featuring big numbers and charts. It uses a JavaScript [data loader](https://cli.observablehq.com/loaders) to fetch data from Jonathan C. McDowell’s [GCAT](https://planet4589.org/space/gcat/), a catalog of artificial space objects. The data is then visualized using [Observable Plot](https://cli.observablehq.com/lib/plot).

The [example report](./example-report) (`docs/example-report.md`) uses a document layout with more text and fewer charts. This layout includes an automatic table of contents, and is intended for documentation, data analysis with commentary, and other more text-heavy content.

## More examples

See the [Observable CLI documentation](https://cli.observablehq.com/) for more documentation and examples!
