# {{ projectTitle }}, an Observable Framework project

See the [Observable Framework documentation](https://cli.observablehq.com/).

TODO This needs to describe which files you need to edit to have this update live.

TODO This also needs to introduce the example-dashboard and example-report pages.
