# {{ projectTitle }}

To get started

```
{{ devInstructions }}
```

The following development commands are provided:

  - **clean** Clear the local data cache.
  - **build** Build the project for publication in the `dist` directory.
  - **dev** Run the development server locally.
  - **observable** Access other subcommands of the Observable CLI.
