:root {
  --theme-background-rgb: 255, 255, 255;
  --theme-foreground-rgb: 27, 30, 35;
  --theme-background-color: rgb(var(--theme-background-rgb));
  --theme-background-color-alt: rgba(var(--theme-foreground-rgb), 0.05);
  --theme-foreground-color: rgb(var(--theme-foreground-rgb));
  --theme-foreground-focus: #20bbfc;
  --syntax-comment: #828282;
  --syntax-diff: #24292e;
  --syntax-diff-bg: #ffffff;
  --syntax-number: #20a5ba;
  --syntax-keyword: #c30771;
  --syntax-atom: #10a778;
  --syntax-string: #008ec4;
  --syntax-error: #ffbedc;
  --syntax-unknown-variable: #838383;
  --syntax-known-variable: #005f87;
  --syntax-matchbracket: #20bbfc;
  --syntax-key: #6636b4;
  --monospace: Menlo, Consolas, monospace;
  --monospace-font: 14px/1.5 var(--monospace);
  --serif: "Source Serif Pro", "Iowan Old Style", "Apple Garamond", "Palatino Linotype", "Times New Roman", "Droid Serif", Times, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --sans-serif: -apple-system, BlinkMacSystemFont, "avenir next", avenir, helvetica, "helvetica neue", ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
}

html {
  font: 17px/1.5 var(--serif);
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--theme-background-color);
  color: var(--theme-foreground-color);
}

body {
  margin: 0;
}

main {
  margin: 2rem auto;
  max-width: 1152px;
  min-height: calc(100vh - 17rem);
  padding-bottom: 10rem;
}

#observablehq-center::after {
  content: "© 2023 Observable, Inc.";
  display: block;
  margin: 2rem auto;
  max-width: 1152px;
  font: 12px var(--sans-serif);
  color: rgb(var(--theme-foreground-rgb), 0.6);
}

#observablehq-center {
  margin: 1rem;
}

#observablehq-sidebar {
  display: none;
  position: fixed;
  background: var(--theme-background-color-alt);
  color: var(--theme-foreground-color);
  font: 14px var(--sans-serif);
  font-weight: 600;
  width: 240px;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

#observablehq-sidebar ol {
  margin: 0;
  padding: 0;
}

#observablehq-sidebar ol li {
  display: block;
  margin: 0;
}

.observablehq-link a {
  display: block;
  padding: 0.5rem 1rem;
}

.observablehq-link a:hover {
  background: var(--theme-background-color);
}

.observablehq-link a[href] {
  color: inherit;
}

.observablehq-link-active {
  position: relative;
}

.observablehq-link-active::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1rem;
  width: 3px;
  background: var(--theme-foreground-focus);
}

.observablehq-link-active a[href] {
  color: var(--theme-foreground-focus);
}

@media (min-width: calc(640px + 4rem + 0.5rem + 240px + 2rem)) {
  #observablehq-sidebar {
    display: initial;
  }
  #observablehq-center.observablehq--sidebar {
    padding-left: calc(240px + 3rem);
  }
  pre {
    border-radius: 4px;
    max-width: calc(min(960px, 100vw - 240px - 6rem));
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(var(--theme-foreground-rgb), 0.9);
  font-weight: 700;
  line-height: 1.15;
  margin-top: 0;
  margin-bottom: 0.25rem;
}

h2 + p,
h3 + p,
h4 + p,
h2 + table,
h3 + table,
h4 + table {
  margin-top: 0;
}

h1 + h2 {
  color: var(--theme-foreground-color);
  font-size: 20px;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 1rem; /* see h2 ~ p */
}

a[href] {
  text-decoration: none;
}

a[href]:hover {
  text-decoration: underline;
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
  font-size: 90%;
}

pre,
code,
tt {
  font-family: var(--monospace);
  font-size: 14px;
  line-height: 1.5;
}

img {
  max-width: calc(100vw - 28px);
}

p,
table,
figure,
figcaption,
h1,
h2,
h3,
h4,
h5,
h6,
.katex-display {
  max-width: 640px;
}

blockquote,
ol,
ul {
  max-width: 600px;
}

blockquote {
  margin: 1rem 1.5rem;
}

ul ol {
  padding-left: 28px;
}

hr {
  height: 1px;
  margin: 1rem 0;
  padding: 1rem 0;
  border: none;
  background: no-repeat center/100% 1px linear-gradient(to right, rgba(var(--theme-foreground-rgb), 0.1), rgba(var(--theme-foreground-rgb), 0.1));
}

pre {
  background-color: var(--theme-background-color-alt);
  margin: 1rem -1rem;
  min-height: 1.5em;
  padding: 0.5rem 1rem;
  overflow-x: auto;
}

input:not([type]),
input[type="email"],
input[type="number"],
input[type="password"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"] {
  width: 240px;
}

input,
canvas,
button {
  vertical-align: middle;
}

button,
input,
textarea {
  accent-color: #3b5fc0;
}

table {
  width: 100%;
  border-collapse: collapse;
  font: 13px/1.2 var(--sans-serif);
}

table pre,
table code,
table tt {
  font-size: inherit;
  line-height: inherit;
}

th > pre:only-child,
td > pre:only-child {
  margin: 0;
  padding: 0;
}

th {
  color: rgb(var(--theme-foreground-rgb), 0.9);
  text-align: left;
  vertical-align: bottom;
}

td {
  color: rgb(var(--theme-foreground-rgb), 0.8);
  vertical-align: top;
}

th,
td {
  padding: 3px 6.5px 3px 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

tr:not(:last-child) {
  border-bottom: solid 1px rgb(var(--theme-foreground-rgb), 0.1);
}

thead tr {
  border-bottom: solid 1px rgb(var(--theme-foreground-rgb), 0.3);
}

figure,
table {
  margin: 1rem 0;
}

figure img {
  max-width: 100%;
}

figure > h2,
figure > h3 {
  font-family: var(--sans-serif);
}

figure > h2 {
  font-size: 20px;
}

figure > h3 {
  font-size: 16px;
  font-weight: normal;
}

figcaption {
  font: small var(--sans-serif);
  color: var(--syntax-unknown-variable);
}

.observablehq--block {
  margin: 1rem 0;
}

.observablehq--block .observablehq,
.observablehq--block .observablehq--inspect {
  display: block;
}

.observablehq--expanded,
.observablehq--collapsed,
.observablehq--function,
.observablehq--import,
.observablehq--string:before,
.observablehq--string:after,
.observablehq--gray {
  color: var(--syntax-normal);
}

.observablehq--collapsed,
.observablehq--expanded.observablehq--inspect a {
  cursor: pointer;
}

.observablehq--caret {
  margin-right: 4px;
  vertical-align: baseline;
}

.observablehq--field {
  text-indent: -1rem;
  margin-left: 1rem;
}

.observablehq--prototype-key,
.observablehq--empty,
.hljs-comment {
  color: var(--syntax-comment);
}

.hljs-built_in {
  color: var(--syntax-known-variable);
}

.observablehq--unknown {
  color: var(--syntax-unknown-variable);
}

/* NOTE: please keep hljs-* styles up to date in src/syntax.css */
.hljs-keyword,
.hljs-selector-tag,
.hljs-section,
.hljs-doctag,
.hljs-type,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-strong {
  color: var(--syntax-keyword);
}

a[href],
.observablehq--keyword,
.observablehq--blue {
  color: #3182bd;
}

.hljs-deletion,
.hljs-variable,
.observablehq--forbidden,
.observablehq--pink {
  color: #e377c2;
}

.observablehq--orange {
  color: #e6550d;
}

.observablehq--null,
.observablehq--undefined,
.observablehq--boolean,
.hljs-literal {
  color: var(--syntax-atom);
}

.hljs-number,
.hljs-regexp,
.hljs-bullet,
.hljs-link,
.observablehq--bigint,
.observablehq--number,
.observablehq--date,
.observablehq--regexp,
.observablehq--symbol,
.observablehq--green {
  color: var(--syntax-number);
}

.observablehq--index,
.observablehq--key {
  color: var(--syntax-key);
}

.observablehq--empty {
  font-style: oblique;
}

.hljs-string,
.hljs-meta,
.hljs-symbol,
.hljs-template-tag,
.hljs-template-variable,
.hljs-addition,
.observablehq--string,
.observablehq--purple {
  color: var(--syntax-string);
}

/* Note: Tachyons' dark-red */
.observablehq--error,
.observablehq--red {
  color: #e7040f;
}

.observablehq--inspect {
  font: var(--monospace-font);
  overflow-x: auto;
  white-space: pre;
}

.observablehq--inspect.observablehq--import {
  white-space: normal;
}

.observablehq--inspect::-webkit-scrollbar {
  display: none;
}

.observablehq--error .observablehq--inspect {
  word-break: break-all;
  white-space: pre-wrap;
}

.observablehq--string-expand {
  margin-left: 6px;
  padding: 2px 6px;
  border-radius: 2px;
  font-size: 80%;
  background: #eee;
  color: var(--syntax-normal);
  cursor: pointer;
  vertical-align: middle;
  position: sticky;
  right: 0;
}

.observablehq--string-expand:hover {
  background: #ddd;
}

.observablehq--string-expand:active {
  background: #ddd;
}

.oi-3a86ea button, .oi-3a86ea input, .oi-3a86ea select, .oi-3a86ea table, .oi-3a86ea textarea {
  color: initial !important;
}

.oi-3a86ea-table thead th {
  background: var(--theme-background-color) !important;
}

.oi-3a86ea-table tr:not(:last-child) td,
.oi-3a86ea-table tr:not(:last-child) th {
  border-bottom: solid 1px rgba(var(--theme-foreground-rgb), 0.1) !important;
}

.oi-3a86ea-table thead tr td,
.oi-3a86ea-table thead tr th {
  border-bottom: solid 1px rgba(var(--theme-foreground-rgb), 0.3) !important;
}

svg.plot-d6a7b5,
svg.plot-d6a7b5-ramp {
  background: none;
}

svg.plot-d6a7b5 [aria-label="tip"][fill="white"],
svg.plot-d6a7b5 [aria-label="tip"] [fill="white"] {
  fill: var(--theme-background-color);
}

svg.plot-d6a7b5 marker[stroke="white"],
svg.plot-d6a7b5 [aria-label^="crosshair"][stroke="white"] {
  stroke: var(--theme-background-color);
}

svg.plot-d6a7b5 marker[fill="white"] {
  fill: var(--theme-background-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-foreground-rgb: 223, 223, 214;
    --theme-background-rgb: 31, 31, 31;
    --theme-background-color-alt: rgba(0, 0, 0, 0.3);
  }
}
