:root {
  --theme-background: rgb(255, 255, 255);
  --theme-background-alt: color-mix(in srgb, var(--theme-background) 95%, black);
  --theme-foreground: rgb(27, 30, 35);
  --theme-foreground-alt: color-mix(in srgb, var(--theme-foreground) 90%, var(--theme-background));
  --theme-foreground-muted: color-mix(in srgb, var(--theme-foreground) 70%, var(--theme-background));
  --theme-foreground-faint: color-mix(in srgb, var(--theme-foreground) 50%, var(--theme-background));
  --theme-foreground-fainter: color-mix(in srgb, var(--theme-foreground) 30%, var(--theme-background));
  --theme-foreground-faintest: color-mix(in srgb, var(--theme-foreground) 10%, var(--theme-background));
  --theme-foreground-focus: #3182bd;
  --syntax-comment: #828282;
  --syntax-diff: #24292e;
  --syntax-diff-bg: #ffffff;
  --syntax-number: #20a5ba;
  --syntax-keyword: #c30771;
  --syntax-atom: #10a778;
  --syntax-string: #008ec4;
  --syntax-error: #ffbedc;
  --syntax-unknown-variable: #838383;
  --syntax-known-variable: #005f87;
  --syntax-matchbracket: #20bbfc;
  --syntax-key: #6636b4;
  --monospace: Menlo, Consolas, monospace;
  --monospace-font: 14px/1.5 var(--monospace);
  --serif: "Source Serif Pro", "Iowan Old Style", "Apple Garamond", "Palatino Linotype", "Times New Roman", "Droid Serif", Times, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --sans-serif: -apple-system, BlinkMacSystemFont, "avenir next", avenir, helvetica, "helvetica neue", ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-foreground: rgb(223, 223, 214);
    --theme-background: rgb(31, 31, 31);
    --theme-background-alt: color-mix(in srgb, var(--theme-background) 70%, black);
    --theme-foreground-focus: #20bbfc;
  }
}

html {
  font: 17px/1.5 var(--serif);
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--theme-background);
  color: var(--theme-foreground);
}

body {
  margin: 0;
}

#observablehq-main,
#observablehq-footer {
  margin: 2rem auto;
  max-width: 1152px;
}

#observablehq-main {
  min-height: calc(100vh - 17rem);
}

#observablehq-footer {
  display: block;
  margin-top: 10rem;
  font: 12px var(--sans-serif);
}

#observablehq-footer .prev-next {
  display: grid;
  column-gap: 1rem;
  grid-template-columns: repeat(2,1fr);
  margin-bottom: 1rem;
}

#observablehq-footer .pager {
  display: block;
}

#observablehq-footer .pager > a {
  border: 1px solid var(--theme-foreground-fainter);
  text-decoration: none;
  border-radius: 8px;
  line-height: 20px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

#observablehq-footer .pager > a:hover {
  border: 1px solid var(--theme-foreground);
}

#observablehq-footer .pager .prev {
  align-items: start;
}

#observablehq-footer.pager.next {
  align-items: end;
}

#observablehq-footer .pager .desc {
  color: var(--theme-foreground-faint);
}

#observablehq-footer .pager .title {
  font-size: 14px;
}

#observablehq-footer .copyright {
  color: var(--theme-foreground-faint);
}

#observablehq-center {
  margin: 1rem;
}

#observablehq-sidebar {
  position: fixed;
  background: var(--theme-background-alt);
  color: var(--theme-foreground-muted);
  font: 14px var(--sans-serif);
  font-weight: 500;
  width: 240px;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: calc(-240px - 2rem);
  padding: 1rem;
  overflow-y: scroll;
}

#observablehq-sidebar ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

#observablehq-sidebar > ol,
#observablehq-sidebar > details {
  position: relative;
  padding: 0.5rem 0 0;
  margin: 0.5rem 0;
}

#observablehq-sidebar ol {
  padding-bottom: 1rem;
}

#observablehq-sidebar > ol,
#observablehq-sidebar > details {
  position: relative;
  border-top: solid 1px var(--theme-foreground-faintest);
}

#observablehq-sidebar > ol:first-child {
  border-top: none;
  font-weight: 700;
  padding: 0;
  margin: 0;
  color: var(--theme-foreground);
}

#observablehq-sidebar summary {
  list-style: none;
  font-weight: 700;
  color: var(--theme-foreground);
}

#observablehq-sidebar summary::-webkit-details-marker,
#observablehq-sidebar summary::marker {
  display: none;
}

#observablehq-sidebar summary::after {
  position: absolute;
  right: 1rem;
  margin-top: -0.25rem;
  font-weight: 700;
  font-size: 20px;
  content: "⟩";
  transition: transform 250ms ease;
  transform-origin: 50% 50%;
}

#observablehq-sidebar details[open] summary:after {
  transform: rotate(90deg);
}

#observablehq-sidebar-toggle {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 1rem;
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 2px;
  cursor: pointer;
  z-index: 2;
  background: none;
  color: var(--theme-foreground-faint);
  font-weight: 700;
  font-size: 20px;
}

#observablehq-sidebar-toggle::before {
  content: "⟩";
}

#observablehq-sidebar-toggle:checked::before {
  content: "⟨";
}

#observablehq-sidebar summary,
.observablehq-link a {
  display: block;
  padding: 0.5rem 1rem;
}

#observablehq-sidebar summary:hover,
.observablehq-link a:hover {
  background: var(--theme-background);
}

.observablehq-link a:hover {
  color: var(--theme-foreground-focus);
}

.observablehq-link a[href] {
  color: inherit;
}

.observablehq-link-active {
  position: relative;
}

.observablehq-link-active::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1rem;
  width: 3px;
  background: var(--theme-foreground-focus);
}

a[href],
.observablehq-link-active a[href] {
  color: var(--theme-foreground-focus);
}

#observablehq-sidebar-toggle:checked + #observablehq-sidebar {
  left: 0;
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);
}

#observablehq-sidebar {
  transition: left 150ms ease;
}

@media (prefers-color-scheme: dark) {
  #observablehq-sidebar-toggle:checked + #observablehq-sidebar {
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: calc(640px + 4rem + 0.5rem + 240px + 2rem)) {
  #observablehq-sidebar {
    transition: none;
  }
  #observablehq-sidebar-toggle:indeterminate::before {
    content: "⟨";
  }
  #observablehq-sidebar-toggle:checked + #observablehq-sidebar,
  #observablehq-sidebar-toggle:indeterminate + #observablehq-sidebar {
    left: 0;
    box-shadow: none;
  }
  #observablehq-sidebar-toggle:checked ~ #observablehq-center,
  #observablehq-sidebar-toggle:indeterminate ~ #observablehq-center {
    padding-left: calc(240px + 3rem);
    padding-right: 1rem;
  }
  pre {
    border-radius: 4px;
  }
}

@media (hover: hover) {
  #observablehq-sidebar-toggle:not(:checked):not(:hover)::before {
    content: "";
  }
  @media (min-width: calc(640px + 4rem + 0.5rem + 240px + 2rem)) {
    #observablehq-sidebar-toggle:indeterminate:not(:checked):not(:hover)::before {
      content: "⟨";
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--theme-foreground-alt);
  font-weight: 700;
  line-height: 1.15;
  margin-top: 0;
  margin-bottom: 0.25rem;
}

h2 + p,
h3 + p,
h4 + p,
h2 + table,
h3 + table,
h4 + table {
  margin-top: 0;
}

h1 + h2 {
  color: var(--theme-foreground);
  font-size: 20px;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 1rem; /* see h2 ~ p */
}

a[href] {
  text-decoration: none;
}

a[href]:hover {
  text-decoration: underline;
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
  font-size: 90%;
}

pre,
code,
tt {
  font-family: var(--monospace);
  font-size: 14px;
  line-height: 1.5;
}

img {
  max-width: calc(100vw - 28px);
}

p,
table,
figure,
figcaption,
h1,
h2,
h3,
h4,
h5,
h6,
.katex-display {
  max-width: 640px;
}

blockquote,
ol,
ul {
  max-width: 600px;
}

blockquote {
  margin: 1rem 1.5rem;
}

ul ol {
  padding-left: 28px;
}

hr {
  height: 1px;
  margin: 1rem 0;
  padding: 1rem 0;
  border: none;
  background: no-repeat center/100% 1px linear-gradient(to right, var(--theme-foreground-faintest), var(--theme-foreground-faintest));
}

pre {
  position: relative;
  background-color: var(--theme-background-alt);
  margin: 1rem -1rem;
  max-width: 960px;
  min-height: 1.5em;
  padding: 0.5rem 1rem;
  overflow-x: auto;
}

pre code::after {
  position: absolute;
  right: 0;
  top: 0;
  font: 12px var(--sans-serif);
  color: var(--theme-foreground-muted);
  background: var(--theme-background-alt);
  background: linear-gradient(to right, transparent, var(--theme-background-alt) 50%);
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}

pre code.language-md::after { content: "md"; }
pre code.language-js::after { content: "js"; }
pre code.language-sh::after { content: "sh"; }
pre code.language-sql::after { content: "sql"; }
pre code.language-tex::after { content: "tex"; }
pre code.language-dot::after { content: "dot"; }
pre code.language-mermaid::after { content: "mermaid"; }
pre[data-copy="copy"] code::after { content: "copy"; }
pre[data-copy="copied"] code::after { content: "copied"; }
pre[data-copy="error"] code::after { content: "error"; }
pre code::after { pointer-events: none; }

input:not([type]),
input[type="email"],
input[type="number"],
input[type="password"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"] {
  width: 240px;
}

input,
canvas,
button {
  vertical-align: middle;
}

button,
input,
textarea {
  accent-color: #3b5fc0;
}

table {
  width: 100%;
  border-collapse: collapse;
  font: 13px/1.2 var(--sans-serif);
}

table pre,
table code,
table tt {
  font-size: inherit;
  line-height: inherit;
}

th > pre:only-child,
td > pre:only-child {
  margin: 0;
  padding: 0;
}

th {
  color: var(--theme-foreground);
  text-align: left;
  vertical-align: bottom;
}

td {
  color: var(--theme-foreground-alt);
  vertical-align: top;
}

th,
td {
  padding: 3px 6.5px 3px 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

tr:not(:last-child) {
  border-bottom: solid 1px var(--theme-foreground-faintest);
}

thead tr {
  border-bottom: solid 1px var(--theme-foreground-fainter);
}

figure,
table {
  margin: 1rem 0;
}

figure img {
  max-width: 100%;
}

figure > h2,
figure > h3 {
  font-family: var(--sans-serif);
}

figure > h2 {
  font-size: 20px;
}

figure > h3 {
  font-size: 16px;
  font-weight: normal;
}

figcaption {
  font: small var(--sans-serif);
  color: var(--syntax-unknown-variable);
}

a[href].observablehq-header-anchor {
  color: inherit;
}

.observablehq--block {
  margin: 1rem 0;
}

.observablehq--block .observablehq,
.observablehq--block .observablehq--inspect {
  display: block;
}

.observablehq--expanded,
.observablehq--collapsed,
.observablehq--function,
.observablehq--import,
.observablehq--string:before,
.observablehq--string:after {
  color: var(--syntax-normal);
}

.observablehq--collapsed,
.observablehq--expanded.observablehq--inspect a {
  cursor: pointer;
}

.observablehq--caret {
  margin-right: 4px;
  vertical-align: baseline;
}

.observablehq--field {
  text-indent: -1rem;
  margin-left: 1rem;
}

.observablehq--prototype-key,
.observablehq--empty,
.hljs-comment {
  color: var(--syntax-comment);
}

.hljs-built_in {
  color: var(--syntax-known-variable);
}

.observablehq--unknown {
  color: var(--syntax-unknown-variable);
}

/* NOTE: please keep hljs-* styles up to date in src/syntax.css */
.hljs-keyword,
.hljs-selector-tag,
.hljs-section,
.hljs-doctag,
.hljs-type,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-strong {
  color: var(--syntax-keyword);
}

.observablehq--keyword {
  color: #3182bd;
}

.hljs-deletion,
.hljs-variable,
.observablehq--forbidden {
  color: #e377c2;
}

.observablehq--null,
.observablehq--undefined,
.observablehq--boolean,
.hljs-literal {
  color: var(--syntax-atom);
}

.hljs-number,
.hljs-regexp,
.hljs-bullet,
.hljs-link,
.observablehq--bigint,
.observablehq--number,
.observablehq--date,
.observablehq--regexp,
.observablehq--symbol {
  color: var(--syntax-number);
}

.observablehq--index,
.observablehq--key {
  color: var(--syntax-key);
}

.observablehq--empty {
  font-style: oblique;
}

.hljs-string,
.hljs-meta,
.hljs-symbol,
.hljs-template-tag,
.hljs-template-variable,
.hljs-addition,
.observablehq--string {
  color: var(--syntax-string);
}

/* Note: Tachyons' dark-red */
.observablehq--error {
  color: #e7040f;
}

.observablehq--inspect {
  font: var(--monospace-font);
  overflow-x: auto;
  white-space: pre;
}

.observablehq--inspect.observablehq--import {
  white-space: normal;
}

.observablehq--inspect::-webkit-scrollbar {
  display: none;
}

.observablehq--error .observablehq--inspect {
  word-break: break-all;
  white-space: pre-wrap;
}

.observablehq--string-expand {
  margin-left: 6px;
  padding: 2px 6px;
  border-radius: 2px;
  font-size: 80%;
  background: #eee;
  color: var(--syntax-normal);
  cursor: pointer;
  vertical-align: middle;
  position: sticky;
  right: 0;
}

.observablehq--string-expand:hover {
  background: #ddd;
}

.observablehq--string-expand:active {
  background: #ddd;
}

.__ns__ button, .__ns__ input, .__ns__ select, .__ns__ table, .__ns__ textarea {
  color: initial !important;
}

.__ns__-table thead th {
  background: var(--theme-background) !important;
}

.__ns__-table tr:not(:last-child) td,
.__ns__-table tr:not(:last-child) th {
  border-bottom: solid 1px var(--theme-foreground-faintest) !important;
}

.__ns__-table thead tr td,
.__ns__-table thead tr th {
  border-bottom: solid 1px var(--theme-foreground-fainter) !important;
}

p svg.plot-d6a7b5 {
  display: inline-block;
}

svg.plot-d6a7b5,
svg.plot-d6a7b5-ramp {
  background: none;
}

svg.plot-d6a7b5 [aria-label="tip"][fill="white"],
svg.plot-d6a7b5 [aria-label="tip"] [fill="white"] {
  fill: var(--theme-background);
}

svg.plot-d6a7b5 marker[stroke="white"],
svg.plot-d6a7b5 [aria-label^="crosshair"][stroke="white"] {
  stroke: var(--theme-background);
}

svg.plot-d6a7b5 marker[fill="white"] {
  fill: var(--theme-background);
}
