.card {
  background: var(--theme-background-alt);
  border: solid 1px var(--theme-foreground-faintest);
  border-radius: 0.75rem;
  padding: 1rem;
  margin: 1rem 0;
  font: 14px var(--sans-serif);
}

.grid > .card {
  margin: 0;
}

.card > :first-child,
.card > :first-child > :first-child {
  margin-top: 0;
}

.card > :last-child,
.card > :last-child > :last-child {
  margin-bottom: 0;
}

.card h2,
.card h3 {
  font-size: inherit;
}

.card h2 {
  font-weight: 500;
  font-size: 15px;
}

.card h3 {
  font-weight: 400;
  color: var(--theme-foreground-muted);
}

.card h2 ~ svg,
.card h3 ~ svg,
.card h2 ~ p,
.card h3 ~ p {
  margin-top: 1rem;
}
