@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
@import url("./global.css");
@import url("./layout.css");
@import url("./grid.css");
@import url("./inspector.css");
@import url("./inputs.css");
@import url("./plot.css");
