.__ns__ button,
.__ns__ input,
.__ns__ select,
.__ns__ table,
.__ns__ textarea {
  color: initial !important;
}

.__ns__-table thead th {
  background: var(--theme-background) !important;
}

.__ns__-table tr:not(:last-child) td,
.__ns__-table tr:not(:last-child) th {
  border-bottom: solid 1px var(--theme-foreground-faintest) !important;
}

.__ns__-table thead tr td,
.__ns__-table thead tr th {
  border-bottom: solid 1px var(--theme-foreground-fainter) !important;
}
