:root {
  --theme-caret: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath d='M5 7L8.125 9.5L11.25 7' stroke='black' stroke-width='1.5' stroke-linecap='round' fill='none'/%3E%3C/svg%3E");
  --theme-toggle: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath d='m10.5,11 2.5-3-2.5-3 M6,8h7' fill='none' stroke='black' stroke-width='2'/%3E%3Crect x='2' y='2' fill='currentColor' height='12' rx='0.5' width='2'/%3E%3C/svg%3E");
}

#observablehq-main,
#observablehq-footer {
  margin: 1rem auto;
  max-width: 1152px;
}

#observablehq-main {
  min-height: calc(100vh - 17rem);
  position: relative;
  z-index: 0;
}

#observablehq-footer {
  display: block;
  margin-top: 10rem;
  font: 12px var(--sans-serif);
  color: var(--theme-foreground-faint);
}

#observablehq-footer nav {
  display: grid;
  max-width: 640px;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  margin-bottom: 1rem;
}

#observablehq-footer nav a {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--theme-foreground-fainter);
  border-radius: 8px;
  padding: 1rem;
  line-height: 1rem;
  text-decoration: none;
}

#observablehq-footer nav a span {
  font-size: 14px;
}

#observablehq-footer nav a:hover span {
  text-decoration: underline;
}

#observablehq-footer nav a:hover {
  border-color: var(--theme-foreground-focus);
}

#observablehq-footer nav a[rel="prev"] {
  grid-column: 1;
  align-items: start;
}

#observablehq-footer nav a[rel="next"] {
  grid-column: 2;
  align-items: end;
}

#observablehq-footer nav a::before {
  color: var(--theme-foreground-faint);
}

#observablehq-footer nav a[rel="prev"]::before {
  content: "Previous page";
}

#observablehq-footer nav a[rel="next"]::before {
  content: "Next page";
}

#observablehq-center {
  margin: 1rem 2rem;
}

#observablehq-sidebar {
  position: fixed;
  background: var(--theme-background-alt);
  color: var(--theme-foreground-muted);
  font: 14px var(--sans-serif);
  visibility: hidden;
  font-weight: 500;
  width: 272px;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: -272px;
  box-sizing: border-box;
  padding: 0 0.5rem 1rem 0.5rem;
  overflow-y: auto;
}

#observablehq-sidebar ol,
#observablehq-toc ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

#observablehq-sidebar > ol,
#observablehq-sidebar > details {
  position: relative;
  padding-bottom: 0.5rem;
  margin: 0.5rem 0;
  border-bottom: solid 1px var(--theme-foreground-faintest);
}

#observablehq-sidebar > ol:first-child {
  position: sticky;
  top: 0;
  z-index: 1;
  background: var(--theme-background-alt);
  font-size: 16px;
  font-weight: 700;
  padding-top: 1rem;
  padding-left: 0.5rem;
  margin: 0;
  margin-left: -0.5rem;
  color: var(--theme-foreground);
}

#observablehq-sidebar > ol:last-child,
#observablehq-sidebar > details:last-child {
  border-bottom: none;
}

#observablehq-sidebar summary {
  font-weight: 700;
  color: var(--theme-foreground);
}

#observablehq-sidebar summary::-webkit-details-marker,
#observablehq-sidebar summary::marker {
  display: none;
}

#observablehq-sidebar summary::after {
  position: absolute;
  right: 0.5rem;
  width: 1rem;
  height: 1rem;
  background: var(--theme-foreground-muted);
  content: "";
  -webkit-mask: var(--theme-caret);
  mask: var(--theme-caret);
  transition: transform 250ms ease;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

#observablehq-sidebar summary:hover::after {
  color: var(--theme-foreground);
}

#observablehq-sidebar details[open] summary::after {
  transform: rotate(0deg);
}

#observablehq-sidebar-toggle {
  position: fixed;
  appearance: none;
  top: 0;
  left: 0;
  width: 2rem;
  height: 100%;
  padding-top: 1.6rem;
  display: flex;
  align-items: start;
  justify-content: center;
  cursor: e-resize;
  margin: 0;
  color: var(--theme-foreground-muted);
  transition: left 150ms ease;
  z-index: 3;
}

#observablehq-sidebar-toggle::before {
  content: "";
  width: 1rem;
  height: 1rem;
  background: currentColor;
  -webkit-mask: var(--theme-toggle);
  mask: var(--theme-toggle);
}

#observablehq-sidebar-close:hover {
  color: inherit;
}

#observablehq-sidebar summary,
.observablehq-link a {
  display: block;
  padding: 0.5rem 1rem 0.5rem 1.5rem;
  margin-left: -0.5rem;
}

#observablehq-sidebar summary:hover,
.observablehq-link-active a,
.observablehq-link a:hover {
  background: var(--theme-background);
}

.observablehq-link a:hover {
  color: var(--theme-foreground-focus);
}

#observablehq-sidebar summary:focus,
.observablehq-link a:focus {
  position: relative;
  z-index: 4;
}

#observablehq-toc {
  display: none;
  position: fixed;
  color: var(--theme-foreground-muted);
  font: 400 14px var(--sans-serif);
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}

#observablehq-toc nav {
  width: 192px;
  margin: 2rem 0;
  padding: 0 1rem;
  box-sizing: border-box;
  border-left: solid 1px var(--theme-foreground-faintest);
}

#observablehq-toc div {
  font-weight: 700;
  color: var(--theme-foreground);
  margin-bottom: 0.5rem;
}

.observablehq-secondary-link a {
  display: block;
  padding: 0.25rem 0;
}

.observablehq-link:not(.observablehq-link-active) a[href]:not(:hover),
.observablehq-secondary-link:not(.observablehq-secondary-link-active) a[href]:not(:hover) {
  color: inherit;
}

.observablehq-link-active,
.observablehq-secondary-link-active {
  position: relative;
}

.observablehq-link-active::before,
.observablehq-secondary-link-highlight {
  content: "";
  position: absolute;
  width: 3px;
  background: var(--theme-foreground-focus);
}

.observablehq-link-active::before {
  top: 0;
  bottom: 0;
  left: -0.5rem;
}

.observablehq-secondary-link-highlight {
  left: 1px;
  top: 2rem;
  height: 0;
  transition:
    top 150ms ease,
    height 150ms ease;
}

#observablehq-sidebar-toggle:checked::before {
  transform: scaleX(-1);
}

#observablehq-sidebar-toggle:checked {
  cursor: w-resize;
  top: 1rem;
  left: calc(272px - 2.7rem);
  height: 2.2rem; /* 1rem padding + line-height: normal */
  padding-top: 0;
  align-items: center;
}

#observablehq-sidebar {
  transition:
    visibility 150ms 0ms,
    left 150ms 0ms ease;
}

#observablehq-sidebar-toggle:checked ~ #observablehq-sidebar {
  left: 0;
  visibility: initial;
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);
  transition:
    visibility 0ms 0ms,
    left 150ms 0ms ease;
}

#observablehq-sidebar-backdrop {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

#observablehq-sidebar-toggle:checked ~ #observablehq-sidebar-backdrop {
  display: initial;
}

@media (prefers-color-scheme: dark) {
  #observablehq-sidebar-toggle:checked ~ #observablehq-sidebar {
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: calc(640px + 6rem + 272px)) {
  #observablehq-sidebar,
  #observablehq-sidebar-toggle {
    transition: none;
  }
  #observablehq-sidebar-toggle:indeterminate::before {
    transform: scaleX(-1);
  }
  #observablehq-sidebar-toggle:indeterminate {
    cursor: w-resize;
    top: 1rem;
    left: calc(272px - 2.7rem);
    height: 2.2rem;
    padding-top: 0;
    align-items: center;
  }
  #observablehq-sidebar-toggle:checked ~ #observablehq-sidebar-backdrop {
    display: none;
  }
  #observablehq-sidebar-toggle:checked ~ #observablehq-sidebar,
  #observablehq-sidebar-toggle:indeterminate ~ #observablehq-sidebar {
    left: 0;
    visibility: initial;
    box-shadow: none;
    border-right: solid 1px var(--theme-foreground-faintest);
  }
  #observablehq-sidebar-toggle:checked ~ #observablehq-center,
  #observablehq-sidebar-toggle:indeterminate ~ #observablehq-center {
    padding-left: calc(272px + 1rem);
    padding-right: 1rem;
  }
}

@media (min-width: calc(640px + 6rem + 192px)) {
  #observablehq-toc ~ #observablehq-center {
    padding-right: calc(192px + 1rem);
  }
  #observablehq-toc {
    display: block;
  }
}

@media (min-width: calc(640px + 6rem + 272px)) {
  #observablehq-sidebar-toggle:checked ~ #observablehq-toc,
  #observablehq-sidebar-toggle:indeterminate ~ #observablehq-toc {
    display: none;
  }
}

@media (min-width: calc(640px + 6rem + 272px + 192px)) {
  #observablehq-sidebar-toggle:checked ~ #observablehq-toc,
  #observablehq-sidebar-toggle:indeterminate ~ #observablehq-toc,
  #observablehq-toc {
    display: block;
  }
  #observablehq-sidebar-toggle:checked ~ #observablehq-toc ~ #observablehq-center,
  #observablehq-sidebar-toggle:indeterminate ~ #observablehq-toc ~ #observablehq-center,
  #observablehq-toc ~ #observablehq-center {
    padding-right: calc(192px + 1rem);
  }
}

@media (hover: hover) {
  @media (min-width: calc(640px + 6rem + 272px)) {
    #observablehq-sidebar-toggle:indeterminate:not(:checked, :hover) {
      color: var(--theme-foreground-muted);
    }
  }
}

.observablehq-pre-container {
  position: relative;
  margin: 1rem -1rem;
  max-width: calc(960px + 2rem);
}

.observablehq-pre-container::after {
  position: absolute;
  top: 0;
  right: 0;
  height: 21px;
  font: 12px var(--sans-serif);
  color: var(--theme-foreground-muted);
  background: linear-gradient(to right, transparent, var(--theme-background-alt) 40%);
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
}

.observablehq-pre-container[data-language]::after {
  content: attr(data-language);
}

.observablehq-pre-container pre {
  padding-right: 4rem;
  margin: 0;
  max-width: none;
}

.observablehq-pre-copy {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  color: transparent;
  border: none;
  border-radius: 4px;
  padding: 0 8px;
  margin: 4px;
  height: 29px;
  cursor: pointer;
  z-index: 1;
  display: flex;
  align-items: center;
}

.observablehq-pre-container[data-copy] .observablehq-pre-copy,
.observablehq-pre-container:hover .observablehq-pre-copy,
.observablehq-pre-container .observablehq-pre-copy:focus {
  background: var(--theme-background-alt);
  color: var(--theme-foreground-faint);
}

.observablehq-pre-container .observablehq-pre-copy:hover {
  color: var(--theme-foreground-muted);
}

.observablehq-pre-container .observablehq-pre-copy:active {
  color: var(--theme-foreground);
  background: var(--theme-foreground-faintest);
}
