
#observablehq-sidebar {
  position: fixed;
  background: var(--theme-background-alt);
  color: var(--theme-foreground-muted);
  font: 14px var(--sans-serif);
  visibility: hidden;
  font-weight: 500;
  width: 272px;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: -272px;
  box-sizing: border-box;
  padding: 0 0.5rem 1rem 0.5rem;
  overflow-y: auto;
}

#observablehq-sidebar ol,
#observablehq-toc ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

#observablehq-sidebar > ol,
#observablehq-sidebar > details {
  position: relative;
  padding-bottom: 0.5rem;
  margin: 0.5rem 0;
  border-bottom: solid 1px var(--theme-foreground-faintest);
}

#observablehq-sidebar > ol:first-child {
  position: sticky;
  top: 0;
  z-index: 1;
  background: var(--theme-background-alt);
  font-size: 16px;
  font-weight: 700;
  padding-top: 1rem;
  padding-left: 0.5rem;
  margin: 0;
  margin-left: -0.5rem;
  color: var(--theme-foreground);
}

#observablehq-sidebar > ol:last-child,
#observablehq-sidebar > details:last-child {
  border-bottom: none;
}

#observablehq-sidebar summary {
  font-weight: 700;
  color: var(--theme-foreground);
  cursor: default;
}

#observablehq-sidebar summary::-webkit-details-marker,
#observablehq-sidebar summary::marker {
  display: none;
}

#observablehq-sidebar summary::after {
  position: absolute;
  right: 0.5rem;
  width: 1rem;
  height: 1rem;
  background: var(--theme-foreground-muted);
  content: "";
  -webkit-mask: var(--theme-caret);
  mask: var(--theme-caret);
  transition: transform 250ms ease;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

#observablehq-sidebar summary:hover::after {
  color: var(--theme-foreground);
}

#observablehq-sidebar details[open] summary::after {
  transform: rotate(0deg);
}

#observablehq-sidebar-toggle {
  position: fixed;
  appearance: none;
  background: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: e-resize;
  margin: 0;
  color: var(--theme-foreground-muted);
  z-index: 1;
}

#observablehq-sidebar-close {
  position: absolute;
  top: 1rem;
  right: 0;
  width: 2rem;
  height: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--theme-foreground-muted);
  cursor: w-resize;
  z-index: 2;
}

#observablehq-sidebar-toggle::before,
#observablehq-sidebar-close::before {
  content: "";
  width: 1rem;
  height: 1rem;
  background: currentColor;
  -webkit-mask: var(--theme-toggle);
  mask: var(--theme-toggle);
}

#observablehq-sidebar-close::before {
  transform: scaleX(-1);
}

#observablehq-sidebar summary,
.observablehq-link a {
  display: block;
  padding: 0.5rem 1rem 0.5rem 1.5rem;
  margin-left: -0.5rem;
}

#observablehq-sidebar summary:hover,
.observablehq-link-active a,
.observablehq-link a:hover {
  background: var(--theme-background);
}
