@import url("./syntax-light.css");

:root {
  --theme-foreground: rgb(27, 30, 35);
  --theme-background: rgb(255, 255, 255);
  --theme-background-alt: color-mix(in srgb, var(--theme-background) 97%, black);
  --theme-foreground-alt: color-mix(in srgb, var(--theme-foreground) 90%, var(--theme-background));
  --theme-foreground-muted: color-mix(in srgb, var(--theme-foreground) 70%, var(--theme-background));
  --theme-foreground-faint: color-mix(in srgb, var(--theme-foreground) 50%, var(--theme-background));
  --theme-foreground-fainter: color-mix(in srgb, var(--theme-foreground) 30%, var(--theme-background));
  --theme-foreground-faintest: color-mix(in srgb, var(--theme-foreground) 10%, var(--theme-background));
  --theme-foreground-focus: #3b5fc0;
  color-scheme: light;
}
