@import url("observablehq:default.css");
@import url("observablehq:theme-air.css") (prefers-color-scheme: light);
@import url("observablehq:theme-near-midnight.css") (prefers-color-scheme: dark);
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap");

:root {
  --theme-phosphate: #148576;
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-foreground: #F5F5F5;
    --theme-phosphate: #37d5be;
  }
}

#observablehq-header a[href] {
  color: inherit;
}

#observablehq-header a[target="_blank"],
.observablehq-link a[target="_blank"] {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  text-decoration: none;
}

#observablehq-header a[target="_blank"]:hover span,
.observablehq-link a[target="_blank"]:hover span {
  text-decoration: underline;
}

#observablehq-header a[target="_blank"]::after,
.observablehq-link a[target="_blank"]::after {
  content: "\2197";
}

#observablehq-header a[target="_blank"][data-decoration]::after {
  content: attr(data-decoration);
}

#observablehq-header a[target="_blank"]:not(:hover, :focus)::after {
  color: var(--theme-foreground-muted);
}

.observablehq-link a[target="_blank"]:not(:hover, :focus)::after {
  color: var(--theme-foreground-faint);
}

.observablehq-link-active a[target="_blank"]:not(:hover, :focus)::after {
  color: var(--theme-foreground-focus);
}

#observablehq-main {
  min-height: calc(100vh - 23.8rem);
}

#observablehq-main {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--theme-foreground);
  background: var(--theme-background);
  font-weight: 500;
}

#observablehq-main p a {
  color: var(--theme-foreground) !important;
  text-decoration: underline !important;
}

#observablehq-main h1 {
  font-family: "Spline Sans Mono", monospace !important;
  font-weight: 500 !important;
  margin-bottom: 1rem;
}

#observablehq-main h2,
#observablehq-main h3,
#observablehq-main h4,
#observablehq-main h5,
#observablehq-main h6 {
  font-family: "Inter", sans-serif;
  margin-bottom: 0.5rem;
}

@container not (min-width: 640px) {
  .hide-if-small {
    display: none;
  }
}

a.observablehq-version-badge {
  font: 500 12px var(--sans-serif);
  display: inline-block;
  vertical-align: top;
  padding: 2px 8px;
  color: var(--theme-green);
  background: color-mix(in srgb, var(--theme-green), transparent 80%);
  border-radius: 12px;
}

.observablehq-version-badge::before {
  content: attr(data-version);
}
