@import url("observablehq:default.css");
@import url("observablehq:theme-air.css") (prefers-color-scheme: light);
@import url("observablehq:theme-near-midnight.css") (prefers-color-scheme: dark);

#observablehq-header a[href] {
  color: inherit;
}

#observablehq-header a[target="_blank"] {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  text-decoration: none;
}

#observablehq-header a[target="_blank"]:hover span {
  text-decoration: underline;
}

#observablehq-header a[target="_blank"]::after {
  content: "\2197";
}

#observablehq-header a[target="_blank"]:not(:hover, :focus)::after {
  color: var(--theme-foreground-muted);
}

#observablehq-main {
  min-height: calc(100vh - 23.8rem);
}

@container not (min-width: 640px) {
  .hide-if-small {
    display: none;
  }
}

a.observablehq-version-badge {
  font-size: 12px;
  font-family: var(--sans-serif);
  display: inline-block;
  transform: translateY(-0.8em);
  padding: 2px 8px;
  color: var(--theme-foreground-focus);
  background: color-mix(in srgb, var(--theme-foreground-focus), transparent 75%);
  border-radius: 12px;
  content: attr(data-version-badge);
  text-decoration: underline;
  text-underline-offset: 2px;
}
